@page "/l/projects/{Code}/{Tab?}"
@using Beacon.Common.Requests.Projects;
@attribute [Authorize]
@layout LaboratoryLayout

<LaboratoryPageHeader>
    <TitleContent>
        <h3 class="mb-0">@CurrentLab.Name</h3>
    </TitleContent>
    <TabsContent>
        <li class="nav-item">
            <NavLink Match="NavLinkMatch.All" class="nav-link" href="@($"l/projects/{Code}")">Overview</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="@($"l/projects/{Code}/samples")">Samples</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="@($"l/projects/{Code}/contacts")">Contacts</NavLink>
        </li>
    </TabsContent>
</LaboratoryPageHeader>

<div class="content flex-grow-1" style="background-color: #f8fafc">
    <div class="px-4 h-100">
        @if (Project is not { } p)
        {
            <p>Loading...</p>
        }
        else if (p.IsError)
        {
            <p class="text-danger">There was an error loading project details.</p>
        }
        else if ("samples".Equals(Tab, StringComparison.OrdinalIgnoreCase))
        {
            <ProjectSamples ProjectId="p.Value.Id" />
        }
        else if ("contacts".Equals(Tab, StringComparison.OrdinalIgnoreCase))
        {
            <ProjectContacts Project="p.Value" />
        }
        else
        {
            <p>This is the project details page for project @Code.</p>

            <div class="field" style="max-width: 300px">
                <label class="form-label" for="analyst">Lead Analyst</label>
                <select @onchange="(e) => HandleLeadAnalystChanged(p.Value.Id, e)" disabled="@(LabMembers == null || LabMembers.Value.IsError)" class="form-select">
                    @if (LabMembers == null || LabMembers.Value.IsError) @* TODO: display error *@
                    {
                        <option value="@Guid.Empty">Loading...</option>
                    }
                    else
                    {
                        <option selected="@(p.Value.LeadAnalyst == null)">None</option>
                        @foreach (var a in LabMembers.Value.Value)
                        {
                            <option value="@a.Id" selected="@(p.Value.LeadAnalyst?.Id == a.Id)">@a.DisplayName</option>
                        }
                    }

                </select>
            </div>
        }
    </div>
</div>

@code {

    [CascadingParameter]
    public required LaboratoryDto CurrentLab { get; set; }

    [Parameter]
    public required string Code { get; set; }

    [Parameter]
    public string? Tab { get; set; }

    private ErrorOr<ProjectDto>? Project { get; set; }

    private ErrorOr<LaboratoryMemberDto[]>? LabMembers { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.WhenAll(LoadProject(), LoadMembers());
    }

    private async Task LoadMembers()
    {
        LabMembers = await ApiClient.GetLaboratoryMembers();
    }

    private async Task LoadProject()
    {
        if (ProjectCode.FromString(Code) is not { } code)
        {
            NavigationManager.NavigateTo("l/projects");
            return;
        }

        Project = await ApiClient.GetProject(code);
    }

    private async Task HandleLeadAnalystChanged(Guid projectId, ChangeEventArgs e)
    {
        var request = new UpdateLeadAnalystRequest 
        { 
            ProjectId = projectId, 
            AnalystId = Guid.TryParse(e.Value?.ToString(), out var id) ? id : null
        };

        await ApiClient.UpdateLeadAnalyst(request);
        await LoadProject();
    }

}