@page "/l"
@attribute [Authorize]
@layout LaboratoryLayout

<LaboratoryPageHeader>
    <h4 class="mb-0">@context.Name</h4>
</LaboratoryPageHeader>

<PageContainer>
    <div class="row">
        <div class="col-md-9">
            @if (ProjectInsights is { IsError: false} insights)
            {
                <div class="row mb-4">
                    @foreach (var insight in insights.Value)
                    {
                        <div class="col-2">
                            <InsightCard Insight="insight" />
                        </div>
                    }
                </div>
            }
            <div class="card p-2 position-relative" style="height: 60vh; width: 100%">
                <Chart @ref="_chart" Config="_config"></Chart>
            </div>
        </div>
        <div class="col-md-3">

            <div class="card p-2">
                <p>Project Insights</p>
                @if (ProjectInsights is not { } errorOrInsights)
                {
                    <p>Loading...</p>
                }
                else if (errorOrInsights.IsError)
                {
                    <p class="text-danger">There was an error loading project insights.</p>
                }
                else
                {
                    <ul>
                        @foreach (var insight in errorOrInsights.Value.OrderByDescending(x => x.Interestingness))
                        {
                            <li>@insight.Description (Interestingness: @insight.Interestingness.ToString("0.00"))</li>
                        }
                    </ul>
                }
            </div>

            @if (Events is { Value: { Count: > 0 } } events)
            {
                var timelineItems = events.Value.Items
                    .Select(e => new TimelineItem<LaboratoryEventDto>
                    {
                        Timestamp = e.ScheduledStart,
                        Value = e
                    });

                <h6 style="margin-bottom: 0.75rem;">Laboratory Schedule</h6>
                <div class="mb-4">
                    <Timeline TimelineItems="timelineItems">
                        <div style="margin-bottom:0.625rem;">
                            <p class="text-muted mb-0 d-flex align-items-center" style="font-size: 0.8rem; gap: 0.2rem;">
                                <div>@context.Timestamp.ToString("dd-MMM-yyyy")</div>
                                @if (context.Value.IsOngoingDuring(DateTime.UtcNow))
                                {
                                    <div class="d-flex">
                                        <Badge Class="is-primary">Ongoing</Badge>
                                    </div>
                                }
                            </p>
                            <a class="btn btn-link p-0" style="font-size: 0.925rem; text-decoration: none;">@context.Value.Title</a>
                        </div>
                    </Timeline>
                </div>
            }
        </div>
    </div>
</PageContainer>
