@page "/l"
@attribute [Authorize]
@layout LaboratoryLayout

<LaboratoryPageHeader>
    <h4 class="mb-0">@context.Name</h4>
</LaboratoryPageHeader>

<div class="d-flex flex-column flex-grow-1" style="overflow-x: auto;">
    <div class="content flex-grow-1" style="background-color: #f8fafc">
        <div class="px-4 h-100">
            <h6>Relevant Events</h6>

            <div class="mb-3" style="max-width: 400px">
                @if (Events is not { } events)
                {
                    <p>Loading events...</p>
                }
                else if (events.IsError)
                {
                    <p class="text-danger">There was an error loading laboratory events.</p>
                }
                else if (!events.Value.Any())
                {
                    <p>There are no events scheduled for this month!</p>
                }
                else
                {
                    <div class="list-group">
                        @foreach (var e in events.Value.OrderBy(x => x.ScheduledStart).ThenBy(x => x.ScheduledEnd))
                        {
                            <div class="list-group-item">
                                <div class="fw-bold">@e.Title</div>
                                <small class="text-muted">
                                    <a href="l/projects/@e.ProjectCode" class="font-monospace">@e.ProjectCode</a>
                                    <span> &middot; </span>
                                    @if (e.ScheduledStart >= DateTime.Today)
                                    {
                                        <text>Ongoing &middot; Ends @e.ScheduledEnd.ToString("dd-MMM-yyyy")</text>
                                    }
                                    else
                                    {
                                        <text>
                                            Upcoming &middot; Starts @e.ScheduledStart.ToString("dd-MMM-yyyy")
                                        </text>
                                    }
                                </small>
                                
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
